extends layout


block content
  hr
  section.container
    .create-item
      h2
        b  Fill up the fields below to Create an Item
      p  Fields marked with * are required  
      form.form-horizontal.login-form(method='post',action='http://localhost:3000/item/create')
        .form-group
          label.control-label.col-sm-2(for='itemName') Name(*) :
          .col-sm-8
            input#itemName.form-control(type='text', placeholder='Enter Item Name', name='itemName',required=true)
        .form-group
          label.control-label.col-sm-2(for='itemBrand') Brand(*) :
          .col-sm-8
            input#itemBrand.form-control(type='text', placeholder='Enter Brand', name='itemBrand',required=true)
        .form-group
          label.control-label.col-sm-2(for='category') Category(*) :
          .col-sm-8
            input#category.form-control(type='text', placeholder='Enter Category', name='category',required=true)
        .form-group
          label.control-label.col-sm-2(for='manufacturer') Manufacturer :
          .col-sm-8
            input#manufacturer.form-control(type='text', placeholder='Enter Manufacturer', name='manufacturer')
        .form-group
          label.control-label.col-sm-2(for='itemDescription') Description :
          .col-sm-8
            input#itemDescription.form-control(type='textarea', placeholder='Enter Something about Item', name='itemDescription')
        .form-group
          label.control-label.col-sm-2(for='deliveredBy') Seller(*) :
          .col-sm-8
            input#deliveredBy.form-control(type='text', placeholder='Enter Seller', name='deliveredBy',required=true)
        .form-group
          label.control-label.col-sm-2(for='imageUrl') Image Url(*) :
          .col-sm-8
            input#imageUrl.form-control(type='text', placeholder='Enter Image Url :', name='imageUrl',required=true)
        .form-group
          label.control-label.col-sm-2(for='price') Price(*) :
          .col-sm-8
            input#price.form-control(type='number', placeholder='Enter Price', name='price',required=true)
        .form-group
          label.control-label.col-sm-2(for='inStock') In Stock?(*) :
          .col-sm-8
            input#inStock.form-control(type='boolean', placeholder='Enter true or false', name='inStock',required=true)
        .form-group
          label.control-label.col-sm-2(for='isAvailable') Is it Available?(*) :
          .col-sm-8
            input#isAvailable.form-control(type='boolean', placeholder='Enter true or false', name='isAvailable',required=true)
        .form-group
          label.control-label.col-sm-2(for='codAvailable') Is COD Available? :
          .col-sm-8
            input#codAvailable.form-control(type='boolean', placeholder='Enter true or false', name='codAvailable',required=true)
        .form-group
          label.control-label.col-sm-2(for='discount') Discount(*) :
          .col-sm-8
            input#discount.form-control(type='text', placeholder='Enter Discount in Percentage', name='discount',required=true)
        .form-group
          label.control-label.col-sm-2(for='size') Size :
          .col-sm-8
            input#size.form-control(type='text', placeholder='Enter Size', name='size')
        .form-group
          label.control-label.col-sm-2(for='color') Color :
          .col-sm-8
            input#color.form-control(type='text', placeholder='Enter Color', name='color')
        .form-group
          label.control-label.col-sm-2(for='stockCount') Stock Count(*) :
          .col-sm-8
            input#price.form-control(type='number', placeholder='0', name='stockCount',required=true)
        .form-group.submit.create-item-button
          .col-sm-offset-5.col-sm-4
            button.btn.btn-primary.btn-create-item.btn-lg(type='submit') Create Item !



